In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [124]:
import pandas as pd
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Labs/house_clean/house_clean.csv')
print(df.shape)

(735, 6)

In [ ]:
df.head()
df.isnull().sum()

Apartment    0
RT           5
5000         1
180          0
4            0
Furnished    0
dtype: int64

In [ ]:
df = df.dropna(axis=0)
df.isnull().sum()

Apartment    0
RT           0
5000         0
180          0
4            0
Furnished    0
dtype: int64

In [ ]:
df.columns=['Title','Location','Price','Area','Rooms','Description']
print(df)
df.head()

         Title Location   Price  Area  Rooms               Description
0    Apartment       XN  3400.0   125      3               Upholstered
1    Apartment       MT  3000.0   126      3               Upholstered
2    Apartment       BS  3450.0   150      4                 Furnished
3    Apartment       CR  1500.0    50      2                 Furnished
4    Apartment       AB  1450.0    59      3               Upholstered
..         ...      ...     ...   ...    ...                       ...
730  Apartment       LA  2500.0    81      2  Upholstered or furnished
731  Apartment       HV  7000.0   262      7                 Furnished
732      House       GD  8750.0   324      7                 Furnished
733  Apartment       JV  2750.0   130      3               Upholstered
734  Apartment       EH  3400.0   110      3               Upholstered

[729 rows x 6 columns]

       Title Location   Price  Area  Rooms  Description
0  Apartment       XN  3400.0   125      3  Upholstered
1  Apartment       MT  3000.0   126      3  Upholstered
2  Apartment       BS  3450.0   150      4    Furnished
3  Apartment       CR  1500.0    50      2    Furnished
4  Apartment       AB  1450.0    59      3  Upholstered

In [ ]:

cvar_list = ['Title','Description','Location']
nvar_list = ['Price','Area','Rooms']

df1 = df.copy()
df1[nvar_list] = (df[nvar_list] - df[nvar_list].mean())/df[nvar_list].std()
df2 = df1.copy()
df2[cvar_list]=df1[cvar_list].astype('category')
df2[nvar_list]=df1[nvar_list].astype('float64')

df3= df2.copy()
df3 = pd.get_dummies(df2, prefix_sep='_')
rdummies = ['Title_Apartment','Description_Furnished','Location_XN']
df4=df3.copy
df4=df3.drop(columns=rdummies)
print(df4.columns.values)
print(df4)

['Price' 'Area' 'Rooms' 'Title_House' 'Title_Room' 'Title_Studio'
 'Location_AA' 'Location_AB' 'Location_AC' 'Location_AD' 'Location_AE'
 'Location_AG' 'Location_AH' 'Location_AK' 'Location_AL' 'Location_AN'
 'Location_AP' 'Location_AR' 'Location_AS' 'Location_AT' 'Location_AV'
 'Location_AX' 'Location_AZ' 'Location_BA' 'Location_BB' 'Location_BC'
 'Location_BD' 'Location_BE' 'Location_BG' 'Location_BH' 'Location_BJ'
 'Location_BK' 'Location_BL' 'Location_BM' 'Location_BN' 'Location_BP'
 'Location_BS' 'Location_BT' 'Location_BV' 'Location_BX' 'Location_BZ'
 'Location_CC' 'Location_CD' 'Location_CE' 'Location_CG' 'Location_CJ'
 'Location_CK' 'Location_CL' 'Location_CN' 'Location_CP' 'Location_CR'
 'Location_CS' 'Location_CV' 'Location_CW' 'Location_CX' 'Location_CZ'
 'Location_DA' 'Location_DB' 'Location_DC' 'Location_DE' 'Location_DH'
 'Location_DJ' 'Location_DL' 'Location_DM' 'Location_DN' 'Location_DR'
 'Location_DS' 'Location_DT' 'Location_DV' 'Location_DX' 'Location_DZ'
 'Location_EA' 'Location_EB' 'Location_EC' 'Location_ED' 'Location_EE'
 'Location_EG' 'Location_EH' 'Location_EJ' 'Location_EL' 'Location_EM'
 'Location_EN' 'Location_EP' 'Location_ER' 'Location_ES' 'Location_ET'
 'Location_EW' 'Location_EZ' 'Location_GA' 'Location_GB' 'Location_GC'
 'Location_GD' 'Location_GE' 'Location_GG' 'Location_GJ' 'Location_GK'
 'Location_GM' 'Location_GN' 'Location_GP' 'Location_GR' 'Location_GS'
 'Location_GT' 'Location_GV' 'Location_GW' 'Location_GX' 'Location_HA'
 'Location_HB' 'Location_HC' 'Location_HD' 'Location_HE' 'Location_HG'
 'Location_HH' 'Location_HK' 'Location_HL' 'Location_HM' 'Location_HN'
 'Location_HR' 'Location_HS' 'Location_HT' 'Location_HV' 'Location_HW'
 'Location_HX' 'Location_HZ' 'Location_JA' 'Location_JB' 'Location_JC'
 'Location_JD' 'Location_JG' 'Location_JH' 'Location_JJ' 'Location_JK'
 'Location_JM' 'Location_JN' 'Location_JP' 'Location_JR' 'Location_JS'
 'Location_JT' 'Location_JV' 'Location_JW' 'Location_JZ' 'Location_KA'
 'Location_KB' 'Location_KC' 'Location_KD' 'Location_KE' 'Location_KG'
 'Location_KH' 'Location_KJ' 'Location_KK' 'Location_KL' 'Location_KM'
 'Location_KP' 'Location_KR' 'Location_KS' 'Location_KT' 'Location_KV'
 'Location_KX' 'Location_KZ' 'Location_LA' 'Location_LB' 'Location_LC'
 'Location_LD' 'Location_LE' 'Location_LG' 'Location_LH' 'Location_LJ'
 'Location_LK' 'Location_LL' 'Location_LM' 'Location_LP' 'Location_LR'
 'Location_LS' 'Location_LT' 'Location_LV' 'Location_LX' 'Location_LZ'
 'Location_MA' 'Location_MB' 'Location_MD' 'Location_ME' 'Location_MG'
 'Location_MH' 'Location_MJ' 'Location_MK' 'Location_ML' 'Location_MM'
 'Location_MN' 'Location_MP' 'Location_MR' 'Location_MS' 'Location_MT'
 'Location_MV' 'Location_MX' 'Location_NB' 'Location_NC' 'Location_NE'
 'Location_NH' 'Location_NK' 'Location_NL' 'Location_NM' 'Location_NN'
 'Location_NS' 'Location_NV' 'Location_NZ' 'Location_PA' 'Location_PB'
 'Location_PC' 'Location_PD' 'Location_PE' 'Location_PG' 'Location_PH'
 'Location_PK' 'Location_PL' 'Location_PP' 'Location_PT' 'Location_PV'
 'Location_PW' 'Location_PX' 'Location_PZ' 'Location_RA' 'Location_RC'
 'Location_RD' 'Location_RE' 'Location_RH' 'Location_RL' 'Location_RM'
 'Location_RN' 'Location_RR' 'Location_RT' 'Location_RV' 'Location_RW'
 'Location_RZ' 'Location_SB' 'Location_SC' 'Location_SE' 'Location_SH'
 'Location_SJ' 'Location_SL' 'Location_SM' 'Location_SN' 'Location_SP'
 'Location_SR' 'Location_ST' 'Location_SW' 'Location_SX' 'Location_SZ'
 'Location_TA' 'Location_TB' 'Location_TD' 'Location_TE' 'Location_TH'
 'Location_TK' 'Location_TL' 'Location_TM' 'Location_TN' 'Location_TP'
 'Location_TR' 'Location_TS' 'Location_TT' 'Location_TV' 'Location_TW'
 'Location_TX' 'Location_TZ' 'Location_VA' 'Location_VB' 'Location_VC'
 'Location_VE' 'Location_VG' 'Location_VH' 'Location_VL' 'Location_VM'
 'Location_VN' 'Location_VP' 'Location_VR' 'Location_VS' 'Location_VT'
 'Location_VW' 'Location_VX' 'Location_VZ' 'Location_WB' 'Location_WG'
 'Location_WH' 'Location_WJ' 'Location_WK' 'Location_WN' 'Location_WP'
 'Location_WR' 'Location_WV' 'Location_WW' 'Location_WZ' 'Location_XA'
 'Location_XB' 'Location_XC' 'Location_XE' 'Location_XH' 'Location_XJ'
 'Location_XK' 'Location_XL' 'Location_XP' 'Location_XR' 'Location_XS'
 'Location_XV' 'Location_XX' 'Location_XZ' 'Location_ZA' 'Location_ZE'
 'Location_ZG' 'Location_ZH' 'Location_ZK' 'Location_ZL' 'Location_ZM'
 'Location_ZN' 'Location_ZP' 'Location_ZS' 'Description_None'
 'Description_Shell' 'Description_Upholstered'
 'Description_Upholstered or furnished']
        Price      Area     Rooms  Title_House  Title_Room  Title_Studio  \
0    0.613875  0.612025 -0.146801            0           0             0
1    0.314856  0.633084 -0.146801            0           0             0
2    0.651252  1.138512  0.651842            0           0             0
3   -0.806465 -0.967436 -0.945444            0           0             0
4   -0.843843 -0.777901 -0.146801            0           0             0
..        ...       ...       ...          ...         ...           ...
730 -0.058918 -0.314592 -0.945444            0           0             0
731  3.305047  3.497173  3.047770            0           0             0
732  4.613255  4.802861  3.047770            1           0             0
733  0.127969  0.717322 -0.146801            0           0             0
734  0.613875  0.296133 -0.146801            0           0             0

     Location_AA  Location_AB  Location_AC  Location_AD  ...  Location_ZK  \
0              0            0            0            0  ...            0
1              0            0            0            0  ...            0
2              0            0            0            0  ...            0
3              0            0            0            0  ...            0
4              0            1            0            0  ...            0
..           ...          ...          ...          ...  ...          ...
730            0            0            0            0  ...            0
731            0            0            0            0  ...            0
732            0            0            0            0  ...            0
733            0            0            0            0  ...            0
734            0            0            0            0  ...            0

     Location_ZL  Location_ZM  Location_ZN  Location_ZP  Location_ZS  \
0              0            0            0            0            0
1              0            0            0            0            0
2              0            0            0            0            0
3              0            0            0            0            0
4              0            0            0            0            0
..           ...          ...          ...          ...          ...
730            0            0            0            0            0
731            0            0            0            0            0
732            0            0            0            0            0
733            0            0            0            0            0
734            0            0            0            0            0

     Description_None  Description_Shell  Description_Upholstered  \
0                   0                  0                        1
1                   0                  0                        1
2                   0                  0                        0
3                   0                  0                        0
4                   0                  0                        1
..                ...                ...                      ...
730                 0                  0                        0
731                 0                  0                        0
732                 0                  0                        0
733                 0                  0                        1
734                 0                  0                        1

     Description_Upholstered or furnished
0                                       0
1                                       0
2                                       0
3                                       0
4                                       0
..                                    ...
730                                     1
731                                     0
732                                     0
733                                     0
734                                     0

[729 rows x 318 columns]

In [138]:
from sklearn.model_selection import train_test_split
X = df4.drop('Price',axis=1)

y = df4['Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)
print(X)

         Area     Rooms  Title_House  Title_Room  Title_Studio  Location_AA  \
0    0.612025 -0.146801            0           0             0            0
1    0.633084 -0.146801            0           0             0            0
2    1.138512  0.651842            0           0             0            0
3   -0.967436 -0.945444            0           0             0            0
4   -0.777901 -0.146801            0           0             0            0
..        ...       ...          ...         ...           ...          ...
730 -0.314592 -0.945444            0           0             0            0
731  3.497173  3.047770            0           0             0            0
732  4.802861  3.047770            1           0             0            0
733  0.717322 -0.146801            0           0             0            0
734  0.296133 -0.146801            0           0             0            0

     Location_AB  Location_AC  Location_AD  Location_AE  ...  Location_ZK  \
0              0            0            0            0  ...            0
1              0            0            0            0  ...            0
2              0            0            0            0  ...            0
3              0            0            0            0  ...            0
4              1            0            0            0  ...            0
..           ...          ...          ...          ...  ...          ...
730            0            0            0            0  ...            0
731            0            0            0            0  ...            0
732            0            0            0            0  ...            0
733            0            0            0            0  ...            0
734            0            0            0            0  ...            0

     Location_ZL  Location_ZM  Location_ZN  Location_ZP  Location_ZS  \
0              0            0            0            0            0
1              0            0            0            0            0
2              0            0            0            0            0
3              0            0            0            0            0
4              0            0            0            0            0
..           ...          ...          ...          ...          ...
730            0            0            0            0            0
731            0            0            0            0            0
732            0            0            0            0            0
733            0            0            0            0            0
734            0            0            0            0            0

     Description_None  Description_Shell  Description_Upholstered  \
0                   0                  0                        1
1                   0                  0                        1
2                   0                  0                        0
3                   0                  0                        0
4                   0                  0                        1
..                ...                ...                      ...
730                 0                  0                        0
731                 0                  0                        0
732                 0                  0                        0
733                 0                  0                        1
734                 0                  0                        1

     Description_Upholstered or furnished
0                                       0
1                                       0
2                                       0
3                                       0
4                                       0
..                                    ...
730                                     1
731                                     0
732                                     0
733                                     0
734                                     0

[729 rows x 317 columns]

In [139]:
X_test.shape

(146, 317)

In [149]:
from sklearn.neighbors import KNeighborsRegressor
model = KNeighborsRegressor()
model.fit(X_train, y_train)

KNeighborsRegressor()

In [150]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
mse = mean_squared_error(y_train, model.predict(X_train))
mae = mean_absolute_error(y_train, model.predict(X_train))
from math import sqrt
print("mse = ",mse," & mae = ",mae," & rmse = ", sqrt(mse))

mse =  0.21007355553273221  & mae =  0.2848861818924589  & rmse =  0.45833781813497804

In [151]:
test_mse = mean_squared_error(y_test, model.predict(X_test))
test_mae = mean_absolute_error(y_test, model.predict(X_test))
print("mse = ",test_mse," & mae = ",test_mae," & rmse = ", sqrt(test_mse))

mse =  0.17804567624194145  & mae =  0.30681096838170197  & rmse =  0.4219545902605415